<html>
 <p><%=@attacker.name%> has attacked <%=@defender.name%>.</p>
 <p><%=@attacker.name%>'s hit points: <%=@attacker.hit_points%></p>
 <p><%=@defender.name%>'s hit points: <%=@defender.hit_points%></p>
</html>
