<html>
 <p><%=@player_1.name%> has attacked <%=@player_2.name%>.</p>
 <p><%=@player_1.name%>'s hit points: <%=@player_1.hit_points%></p>
 <p><%=@player_2.name%>'s hit points: <%=@player_2.hit_points%></p>
</html>
