<html>
  <p> <%=@player_1.name%> vs <%=@player_2.name%> </p>
  <p> <%=@player_2.name%>'s hit points: <%=@player_2.hit_points%> </p>
  <form action="/send-attack" method = "post">
    <input type="submit" value= " <%=@player_1.name%> attack!">
  </form>
</html>
